.rodape {
    background-color: var(--cor-cinza-claro);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;

    padding: 96px 0;

    font-family: var(--fonte1);
}

.rodape-titulo {
    font-size: 36px;
    font-weight: 600;
}

.rodape-texto {
    font-size: 20px;
    color: var(--cor-cinza);
}

.rodape-email {
    padding: 1em;
    border-radius: 8px;
    border: 1px solid var(--cor-cinza);
    margin-right: 1em;

    width: 300px;
}

.rodape-botao {
    color: white;
    background-color: var(--cor-vinho);
    border: 1px solid var(--cor-vinho);

    padding: 1em;
    width: 116px;
    border-radius: 8px;

    cursor: pointer;
}

.rodape-copyright {
    font-size: 16px;
    color: var(--cor-cinza);
}

